@page "/admin/manage-staff/new"
@page "/admin/manage-staff/{id}/edit"
@layout AddminStaff

@using DangDucThuanFinalYear.Components.Account.Shared
@using DangDucThuanFinalYear.HotelDTO

@inject NavigationManager NavigationManager


<div class="container">
    <div class="d-flex  flex-column  align-items-center" style="margin-top: 0px">
        <h1 style="color: green; display: flex; align-items: center; font-size: 1.5rem;">
            <NavLink href="admin/manage-staff" class="me-2 btn btn-sm btn-default">
                <i class="fas fa-arrow-left"></i>
            </NavLink>

            <span style="display: inline-flex; align-items: center;">
                <span style="margin-right: 5px;">
                @(!string.IsNullOrWhiteSpace(Id) ? "Update":"Create")    
                    Staff Member
                </span>
            </span>
        </h1>
        <div class="row d-flex justify-content-center" style="margin-bottom:20px">
            <div class="col-sm-15">
                @if (string.IsNullOrWhiteSpace(Id))
                {
                    <CreateUserForm Role="@RoleType.Staff"
                    OnSuccess="HandleRegisterSuccess" />
                }
                else
                {
                    <UpdateProfile UserId="@Id" Role="RoleType.Staff" OnSuccess="HandleRegisterSuccess" />
                }

            </div>

        </div>

    </div>
</div>

@code {
    [Parameter]
    public string? Id { get; set; }

    private async Task HandleRegisterSuccess() => NavigationManager.NavigateTo("admin/manage-staff");


}
