@page "/admin/manage-staff"
@layout AddminStaff
@using DangDucThuanFinalYear.HotelDTO;
@using DangDucThuanFinalYear.HotelDTO.UserProFileDTO

@inject NavigationManager NavigationManager
<style>
    .container {
        padding: 20px;
    }

        .container h1 {
            color: green;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
        }

            .container h1 span {
                margin-right: 5px;
            }

        .container .btn {
            margin-top: 10px; /* Thêm khoảng cách giữa tiêu đề và nút */
        }

        .container hr {
            margin-top: 20px; /* Thêm khoảng cách giữa nội dung và đường kẻ ngang */
        }

</style>


<div class="container">
    <div class="d-flex justify-content-between align-items-center" style="margin-top: 0px">
        @* <h3 style="color: #12131A; font-size: 1.5rem;">
            <strong>Manage Staff</strong>
        </h3> *@
        <p style="background-color: transparent; border: none; margin-top: -6px; cursor: pointer; font-size: 20px; color: #27314A; transition: color 0.3s;"> <i class="fa fa-caret-right" aria-hidden="true"></i>MANAGE STAFF</p>


        <NavLink href="admin/manage-staff/new" class="btn btn-sm btn-success" style="background-color:#12131A;">+ Add new Staff</NavLink>
    </div>
    <hr />
    <UserList Role="RoleType.Staff" />
</div>





@code {
    private RegisterUserModelDTO _model = new();
}
