@page "/staff-admin/manage-guest"
@using DangDucThuanFinalYear.HotelDTO.UserProFileDTO
@layout AddminStaff
@using DangDucThuanFinalYear.HotelDTO;

@inject NavigationManager NavigationManager

<div class="container">
    <div class="d-flex flex-column " style="margin-top: 20px">
        <h3 style="color: blue; display: flex; align-items: center; font-size: 1.5rem;">
           @*  <NavLink href="/" class="me-2 btn btn-sm btn-default">
                <i class="fas fa-arrow-left"></i>
            </NavLink> *@

                <p style="background-color: transparent; border: none; margin-top: -6px; cursor: pointer; font-size: 20px; color: #27314A; transition: color 0.3s;"> <i class="fa fa-chevron-right" aria-hidden="true"></i>MANAGE GUEST</p>
        </h3>

    </div>
    <hr />
    <UserList Role="RoleType.Guest" />
</div>

@code {
    private RegisterUserModelDTO _model = new();
}
