@page "/staff-admin/manage-booking"
@rendermode @(new InteractiveServerRenderMode(prerender: false))



<div class="container">
        <div class="d-flex flex-column align-items-center" style="margin-top: 50px">
            <h1 style="color: orange;">Manage Booking</h1>
    </div>
    <hr />
    <div class="table-responsive">

    </div>

</div>


@code {

}
