        <!-- Testimonial Start -->
<div class="container-xxl testimonial my-5 py-5 bg-dark wow zoomIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="owl-carousel testimonial-carousel py-5">
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>This hotel exceeded my expectations in every way. From the moment I arrived, the staff provided impeccable service and attention to detail. The room was spacious, clean, and equipped with all the amenities I needed for a comfortable stay. I especially appreciated the delicious dining options available onsite.</p>                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="img/avatar.png" style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">Đặng Đức Thuần</h6>
                        <small>President FPT</small>
                    </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>Choosing this hotel was the best decision for my vacation. Everything was well-organized and spotlessly clean, from the welcoming reception to the daily room cleaning service. The gym and spa facilities were a bonus, allowing me to unwind and recharge after a day of exploring.</p>                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="img/avatar.png" style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">Nguyễn Văn C</h6>
                        <small>Customer</small>
                    </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>The atmosphere at this hotel is truly inviting and relaxing. The rooms are clean, well-appointed, and offer stunning views of the surrounding scenery. The friendly and attentive staff made my stay even more enjoyable, and I loved the variety of entertainment options and local tours organized onsite.</p>                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="img/avatar.png" style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">James Thomas</h6>
                        <small>Managing director CMC</small>
                    </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

@code {

}
