@layout PageNoHF

@page "/Account/Register"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using DangDucThuanFinalYear.HotelDTO
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using DangDucThuanFinalYear.Data


@inject IdentityRedirectManager RedirectManager


@inject IUserService UserService

<PageTitle>Register</PageTitle>

<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <CreateUserForm OnSuccess="HandleRegisterSuccess" />
    </div>
</div>

@code {
    private async Task HandleRegisterSuccess() => RedirectManager.RedirectTo("Account/Login");



    
}
